body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color:#faf7f2;
    color: #4d463f;
}

h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(109, 91, 44);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4d463f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background: #cfc6b6;
    position: sticky;
    top: 0;
}

.brand {
    font-size: 26px;
    font-weight: 400;
}

.nav-center a {
    margin: 0 18px;
    font-size: 15px;
}

.hero {
    text-align: center;
    padding: 120px 30px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    opacity: 0.8;
}

.hero-btn {
    margin-top: 25px;
    background: #ba9a6e;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.section {
    padding: 50px 50px;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 15px;
}

.section-sub {
    max-width: 700px;
    margin: auto;
    opacity: 0.7;
}

.card-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 50px;
}

.card {
    width: 250px;
    height: 150px;
    background: rgba(241, 223, 203, 0.822);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    gap: 15px;
    margin-top: 40px;
}

.contact-form input {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d4c8ba;
    background: #fffdf9;
}

.contact-form textarea{
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d4c8ba;
    background: #fffdf9;
    width: 94%; 
    height: 100px; 
    resize: none;
}

.submit-btn {
    background: #cbb89d;
    border: none;
    padding: 14px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

#highlight-box {
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    max-width: 700px;
    font-size: 18px;
    text-align: center;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #f1eee6;
    margin-top: 70px;
    font-size: 14px;
}
